.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.is-done{
  opacity: 0.5;
}
 /*прозрачность*/
.active-filter{
  background-color: blue;
}

.error{
  border:2px solid red;
}
.error-message{
  color:red;
}